*{
    padding: 0;
    margin: 0;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffc3a0;
    height:100vh;
}

.box{
    width:50rem;
    height:30rem;
    background-color: #243b55;
    box-shadow: 12px 12px 2px 1px rgba(128,128,128, .2);
    border-radius: 15px;
}

.box h2{
    color:#fff;
    font-size: 25px;
    text-align: center;
    margin-top:30px;
}

#EnterText{
    margin-top: 30px;
    width:35rem;
    height:2.6rem;
    background-color: #b3cde0;
    color:#fff;
    font-size: 30px;
    text-align: center;
    padding-top: 6px;
    border:2px solid #fff;
}

::placeholder { 
    color: #fff;
  }

#btn{
    height:3rem;
    width:8rem;
    position: relative;
    left:330px;
    top:30px;
    background-color:#000;
    color:#fff;
    font-size: 15px;
    border:none;
}
#btn:hover{
    border:2px solid #000;
    cursor: pointer;
    color:#000;
    background-color: #fff;
}

#messageDelivered{
    text-align: center;
    position: relative;
    top:150px;
    color: #fff;
    font-size: 23px;
}
